@import "tailwindcss";

/* Add all Github variable fonts from public dir */
@font-face {
  font-family: "Monaspace Krypton Variable";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/public/MonaspaceKryptonVarVF[wght\,wdth\,slnt].woff2")
    format("woff2");
}

@font-face {
  font-family: "Monaspace Radon Variable";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/public/MonaspaceRadonVarVF[wght\,wdth\,slnt].woff2")
    format("woff2");
}

@font-face {
  font-family: "Monaspace Xenon Variable";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/public/MonaspaceXenonVarVF[wght\,wdth\,slnt].woff2")
    format("woff2");
}

@font-face {
  font-family: "Monaspace Neon Variable";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/public/MonaspaceNeonVarVF[wght\,wdth\,slnt].woff2") format("woff2");
}

@font-face {
  font-family: "Monaspace Argon Variable";
  font-style: normal;
  font-weight: 400 700;
  font-display: swap;
  src: url("/public/MonaspaceArgonVarVF[wght\,wdth\,slnt].woff2")
    format("woff2");
}

@font-face {
  font-family: "Inter Variable";
  src: url("/public/Inter-VariableFont_opsz\,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

.logo.leptos:hover {
  filter: drop-shadow(0 0 2em #a82e20);
}

:root {
  --krypton: "Monaspace Krypton Variable";
  --radon: "Monaspace Radon Variable";
  --xenon: "Monaspace Xenon Variable";
  --neon: "Monaspace Neon Variable";
  --argon: "Monaspace Argon Variable";
  --font-sans: var(--font-inter), system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: var(--font-plex-mono);
  --font-sans--font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  --font-mono--font-feature-settings: "ss02", "zero";

  font-family: var(--neon), monospace;
  font-feature-settings: var(--font-mono--font-feature-settings, normal);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: geometricPrecision;
  -webkit-text-size-adjust: 100%;

  @apply overscroll-none subpixel-antialiased;
}

body {
  @apply bg-gray-700 text-white;
}

main {
  @apply grid grid-cols-4 w-full;
  margin: 0;
  min-height: 100vh;
}

/* File Explorer */
main > aside {
  font-family: "Inter Variable", sans-serif;
  @apply col-span-1 border-r border-gray-200 p-4 text-sm font-medium;
}

/* Editor */
main > section {
  @apply col-span-3 bg-slate-700 border-white border-r-2 flex flex-col;
}

/* Bufferline */
main > section > header {
  @apply flex justify-between items-center border-b border-gray-200 font-semibold;
}

/* Buffer */
main > section > article {
  @apply flex-1 w-full h-96 flex;
}

div[data-line-numbers] {
  @apply w-8 pt-1 text-sm text-right text-gray-400 flex flex-col bg-slate-800;
}

div[data-line-numbers] > span {
  @apply align-middle border-t-2 border-transparent pr-1 last-of-type:border-b-2;
}

div[data-buffer] {
  @apply focus:outline-none whitespace-pre-wrap font-medium pl-1 pt-1;
}

/* Status */
main > section > footer {
  @apply border-t-2 border-gray-200 font-semibold;
}
